<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автори</title>
    <style>
        h1, h2, a {
          text-align: center;
          color: white;
          display: block;
        }
      </style>
</head>
<body>

        <h1> Автори </h1>
        <br>
        <h2> Pharaon801 and society118</h2>
        <br>
    <a href="https://youtube.com/@pharaon801?si=LuzNN1QVz2BTVAVQ"> Канал Pharaon`a 801</a>
    <br>
    <a href="https://github.com/society118"> Github society118 </a>
</body>
</html>