
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<table id="tablitsya">
            <tr>
                <th>
                 <a href="/Windows/">Windows👈🏻</a>
                </th>
              </tr>
               <tr>
                <th>
                 <a href="/Linux/">Linux👈🏻</a>
                </th>
            </tr>
            <tr>
                <th>
                 <a href="/TempleOS/">TempleOS👈🏻 </a>
                </th>
            </tr>
            <tr>
                <th>
                 <a href="/login/">Увійти в акаунт 👈🏻</a>
                </th>
            </tr>
            <tr>
                <th>
                 <a href="/register/">Реєстрація акаунта 👈🏻</a>
                    </th>
            </tr>
            <tr>
                <th>
                    <a href="/logout/">Вихід </a>
                </th>
            </tr>
                <tr>
                    <th>
                     <a href="https://www.youtube.com/@MCLoveKherson/featured">Ютуб канал нашого вчителя 😉</a>
                    </th>
                </tr>
                <th>
                 <a href="https://youtube.com/@pharaon801?si=QXbVy1fTlLFhSikC">Ютуб розробника 👈🏻</a>
                </th>
            </tr>
            <tr>
                <th>
                 <a href="/autors/">Автори 👈🏻</a>
                </th>
            </tr>
        </table>
</body>
</html>