<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


    <h1> Головна сторінка</h1>
    <br>
    <br>
    <h3>Ласкаво просимо на інформаційний портал про операційні системи!
        На цьому сайті ви знайдете зрозумілу та корисну інформацію про найпопулярніші операційні системи: Windows, Linux та TempleOS. Ми розповідаємо про їхню історію створення, основні можливості, переваги й недоліки, сфери застосування та особливості роботи.
        Сайт буде корисним як початківцям, так і тим, хто хоче розширити свої знання у сфері комп’ютерних технологій та краще зрозуміти відмінності між різними операційними системами. </h3>
                </th>
            </tr>
                <tr>
                    <th>
                        <a href="{{ url_for('base') }}">
    <button>Перейти на Base</button></a>
                    </th>
            </tr>

        </table>

<div id="dig">
        <button>
        <a id="jsc" href="https://justschool.me/uk">
        <img width="15px" src="https://media.licdn.com/dms/image/v2/C4E1BAQEFU-dKxH6E-g/company-background_10000/company-background_10000/0/1614328505099/justschool_ukraine_cover?e=2147483647&v=beta&t=hw1AmaN-a7HtTpEP_iptFruIwMeZ25EkfZup3peqrfY">
     </a>

</button>
</div>
<br>
<p>Самі файні вчителі та ваще кошерна школа</p>
</body>
</html>